port=8000
Db_URI="mongodb_url"
DB_NAME="e_com"
NODE_ENV='development'


CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_SECRET_KEY=''

#jwt
JWT_EXPIRES_IN =''
JWT_SECRET=''
COOKIE_EXPIRES_IN=7

#nodemailer
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=465
SMTP_SERVICE='gmail'
SMTP_USER=''
SMTP_PASSWORD=''